@tailwind base;
@tailwind components; 
@tailwind utilities;

@layer components {
    .navbar {
        @apply fixed w-full bg-transparent; 
        transition: all 0.2s ease;
    }

    .navbar.scrolled {
        background-color: rgba(40, 43, 50, 0.4);
        backdrop-filter: blur(30px);
    }

    @media (max-width: 800px) {
        .navbar.scrolled {
            background-color: rgba(40, 43, 50, 0.2);
        }
    }

    .nav-container {
        @apply max-800:hidden font-robotoCondensed max-w-[85rem] mx-auto;
    }

    .underline-hover {
        @apply absolute bottom-0 left-0 bg-customLightGray h-[2px] w-full scale-x-0 group-hover:scale-x-100 transition-all origin-center duration-300;
    }
}
