@tailwind base;
@tailwind components; 
@tailwind utilities;

@layer components {
    .navbar {
        @apply fixed w-full bg-transparent; 
        transition: all 0.2s ease;
    }

    .navbar.scrolled {
        background: rgba(6,2,22, 0.7);
        backdrop-filter: blur(20px);
    }

    .nav-container {
        @apply max-800:hidden font-robotoCondensed max-w-[85rem] mx-auto;
    }
}
