@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .portfolio-section {
        @apply mx-auto h-fit max-w-[85rem] p-12;
    }
    
    .portfolio-container, .portfolio-showcase {
        @apply h-full w-full;
    }

    .title-container h3 {
        @apply text-center uppercase text-2xl max-600:text-1xl font-anton bg-clip-text text-transparent bg-gradient-to-r;
        @apply max-1024:text-[3.5rem];
        background-image: linear-gradient(to right, var(--custom-white-color), var(--custom-purple-color));
    }

    .title-container p {
        @apply text-lg font-robotoCondensed font-light text-customLightGray mb-3 mt-[-10px];
        text-transform: none;
    }

    .portfolio-navbar {
        @apply text-[1rem] font-robotoCondensed font-medium rounded-lg;
        background-color: var(--translucent-background);
    }

    .portfolio-navbar > ul {
        @apply flex uppercase w-full h-full justify-evenly text-customLightGray p-2 rounded-lg;   
       
    }

    .portfolio-navbar > ul > li {
        @apply w-full;
    }
    
    .portfolio-navbar > ul > li > button {
        @apply w-full h-full flex flex-col items-center justify-center py-1 rounded-md;
        opacity: 0.6;
    }

    .portfolio-navbar > ul > li > button.active {
        opacity: 1;
        background-color: rgba(255, 255, 255, 0.08);
    }

    .portfolio-navbar > ul > li:hover > button:not(.active) {
        opacity: 0.8;
        background-color: rgba(174, 165, 165, 0.08);
    }

    .portfolio-navbar > ul > li:nth-child(2) {
        @apply ml-2;
    }

    .projects-container, .certificates-container {
        @apply flex flex-wrap justify-center py-3 gap-3 text-customWhite;
    }

    .project {
        @apply relative min-h-[400px] min-w-[300px] rounded-lg pt-4 pr-4 pl-4 pb-20;
        @apply max-1024:flex-1;
        width: calc(33.33% - (2 * 0.75rem / 3)); /* Adjust width to account for gap of 3 */
        background-color: rgba(243, 234, 234, 0.1);
    }
    
    .certificate {
        @apply relative min-h-[400px] min-w-[300px] rounded-lg pt-4 pr-4 pl-4 pb-20;
        width: calc(33.33% - (2 * 0.75rem / 3)); /* Adjust width to account for gap of 3 */
        background-color: rgba(243, 234, 234, 0.1);
    }

    .project .details, .certificate .details {
        @apply w-full font-robotoCondensed flex-grow;
    }

    .project .details img, .certificate .details img {
        @apply h-[200px] w-full object-cover rounded-md;
    }

    .project .details h3, .certificate .details h3 {
        @apply py-3 text-lg font-medium;
    }

    .project .details p, .certificate .details p {
        @apply font-light;
    }

    .project .nav, .certificate .nav {
        @apply absolute bottom-4 right-4 px-4 py-2 rounded-lg;
        background-color: rgba(191, 183, 183, 0.08);
        transition: background-color 0.3s ease,
                    transform 0.3s ease;
        overflow: hidden;
    }

    .project .nav:hover, .certificate .nav:hover {
        @apply cursor-pointer;
        background-color: rgba(191, 183, 183, 0.25);
        transform: scale(1.03);
    }

    .project .nav:active, .certificate .nav:active {
        outline: 1px solid white;
        transform: scale(1.05);
    }

    .nav-button p {
        @apply text-base;
    }

    .nav-button span {
        @apply ml-2 font-bold;
    }
}