@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .portfolio-section {
        @apply mx-auto h-fit max-w-[85rem];
        outline: 2px solid yellow;
    }
    
    .portfolio-container {
        @apply h-full w-full;
    }

    .title-container h3 {
        @apply text-center uppercase text-2xl max-600:text-1xl font-anton bg-clip-text text-transparent bg-gradient-to-r;
        @apply max-1024:text-[3.5rem];
        background-image: linear-gradient(to right, var(--custom-white-color), var(--custom-purple-color));
        outline: 1px solid red;
    }

    .title-container p {
        @apply text-sm;
    }
}